@model Employee


    <table class="table table-hover my-3 mx-2 w-75">
       <thead>
           <tr>
               <td scope="col">First Name</td>
               <td scope="col">Surname</td>
               <td scope="col">Department</td>
               <td scope="col">Current Employee</td>
               <td scope="col">Age</td>
           </tr>
       </thead>
        <tbody>
            <tr>
                <td scope="row">@Html.DisplayFor(Model => Model.FirstName)</td>
                <td scope="row">@Html.DisplayFor(Model => Model.Surname)</td>
                <td scope="row">@Html.DisplayFor(Model => Model.Department.Name)</td>
                <td scope="row">@Html.DisplayFor(Model => Model.CurrentlyEmployed)</td>
                <td scope="row">@Html.DisplayFor(Model => Model.Age)</td>
            </tr>
        </tbody>
    </table>